@import "../../../../styles.scss";

.card-container {
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow: hidden;
  width: 282px;
  height: 580px;
  color: #344054;
  position: relative;
}

.discount-badge {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: $primary-color;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  width: 71px;
  text-align: center;
}

.image-container {
  height: 257px;
  width: 282px;
  border-radius: 8;
  overflow: hidden;
}

.card-info-container {
  padding: 16px;

  h3 {
    margin-top: 0;
    margin-bottom: 8px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 24px;
    line-height: 24px;
  }

  .description {
    margin-top: 0;
    margin-bottom: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 34px;
    line-height: 17px;
  }
}

.card-info-item {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  line-height: 17px;

  div {
    font-weight: 600;
  }
}

.discount-container {
  display: flex;
  gap: 14px;
  margin-bottom: 21px;
  line-height: 17px;

  .price {
    font-weight: 700;
    margin-right: 8px;
  }

  .currency {
    font-weight: 400;
  }
}

.rating-container {
  width: fit-content;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

button {
  width: 100%;
  padding: 14px 70px;
  border: none;
  background-color: $primary-color;
  font-weight: 700;
  border-radius: 4px;
  height: 50px;
  font-size: 16px;
  color: #344054;
  cursor: pointer;
}

.star-container {
  display: inline-block;
  position: relative;
  font-size: 17px;
  width: 17px;
  height: 17px;
  overflow: hidden;
}

.star-gray {
  color: #213c534d;
}

.star-yellow {
  color: #f4b000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.numerical-rating {
  margin-left: 3px;
  margin-right: 7px;
  color: #f4b000;
  font-weight: 700;
  font-size: 16px;
}

.reviews {
  color: #828282;
}
