<div class="products-page-container">
  <h1>{{ pageTitle }}</h1>
  <p class="crumbs">
    {{ crumbs }}
    @if(selectedCategory()){
    <strong>/ {{ finalCrumb() }}</strong>
    }
  </p>
  <div class="flex-container">
    <app-category-radio-group (categorySelected)="onCategorySelected($event)" />
    <div class="products-column">
      <div class="products-grid">
        @for(product of products(); track $index){
        <app-card [product]="product" />
        }
      </div>
      <app-paginator
        [totalPages]="totalPages()"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>
</div>
