<header>
  <div class="logo-container">
    <div>
      <img src="assets/logo.svg" alt="logo" />
    </div>
    <p>ClickTick</p>
  </div>
  <a>Home</a>
  @if(isLoggedIn()){
  <div class="search-input right">
    <div>
      <img src="assets/icons/search.svg" />
    </div>
    <input placeholder="Search" (input)="onSearch($event)" />
  </div>
  <div class="cart-container">
    <img src="assets/icons/cart.svg" />
    @if(cartItems$ | async){
    <div class="cart-item-counter">{{ cartItems$ | async }}</div>
    }
  </div>
  <a (click)="onLogout()">Log Out</a>
  } @else {
  <a class="right">Log in</a>
  }
</header>
