.footer-container {
  background-color: #1d2939;
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 112px;
}

.logo-container {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
  gap: 10px;
  div {
    width: 32px;
    height: 32px;
  }
}

p {
  font-size: 14px;
  color: #98a2b3;
}
