<div class="login-page-container">
  <div class="logo-container">
    <img src="assets/logo.svg" alt="" />
  </div>
  <h1>Log in to your account</h1>
  <h3>Welcome back! Please enter your details.</h3>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div>
      <label>Username</label>
      <input
        type="text"
        placeholder="Enter your username"
        ngModel
        name="username"
      />
    </div>
    <div>
      <label>Password</label>
      <input type="password" placeholder="••••••••" ngModel name="password" />
    </div>
    <button>Sign In</button>
  </form>
</div>
