@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$primary-color: #41cccc;
$border-color: #c4ccd1;

body {
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  margin-inline-start: auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #a4b8c4;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}
